$blue: hsl(202, 71%, 52%);
$dark-blue: hsl(211, 30%, 50%);
$light-blue: hsl(202, 82%, 74%);
$white-blue: hsl(211, 100%, 98%);
$white: hsl(0, 0%, 100%);
$sky-gradient: linear-gradient(180deg, $blue, #CFE4FA 100%);
